<div class="back-drop" *ngIf="isSpinner">
    <div class="loader"></div>
</div>
<div class="col-md-6 offset-md-3 mt-5">
<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="Registrationform" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="contact_no">Contact Number</label>
                <input type="text" formControlName="contact_no" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact_no.errors }" />
                <div *ngIf="submitted && f.contact_no.errors" class="invalid-feedback">
                    <div *ngIf="f.contact_no.errors.required">Contact No. is required</div>
                    <div *ngIf="f.contact_no.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email_id">Email Id</label>
                <input type="text" formControlName="email_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email_id.errors }" />
                <div *ngIf="submitted && f.email_id.errors" class="invalid-feedback">
                    <div *ngIf="f.email_id.errors.required">Email Id is required</div>
                    <div *ngIf="f.email_id.errors.pattern">Please enter valid email</div >
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" pattern="{{ f.password.value }}"/>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.pattern">Password & Confirm Password does not match.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" id="country" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                    <option value="Coordinator">Coordinator</option>
                    <option value="Director">Director</option>
                </select>
                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                    <div *ngIf="f.role.errors.required">Role is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="college_name">College Name</label>
                <input type="text" formControlName="college_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.college_name.errors }" />
                <div *ngIf="submitted && f.college_name.errors" class="invalid-feedback">
                    <div *ngIf="f.college_name.errors.required">College name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="director_name">Director Name</label>
                <input type="text" formControlName="director_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.director_name.errors }" />
                <div *ngIf="submitted && f.director_name.errors" class="invalid-feedback">
                    <div *ngIf="f.director_name.errors.required">Director name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="director_contact_no">Director Contact No.</label>
                <input type="text" formControlName="director_contact_no" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.director_contact_no.errors }" />
                <div *ngIf="submitted && f.director_contact_no.errors" class="invalid-feedback">
                    <div *ngIf="f.director_contact_no.errors.required">Director No. is required</div>
                    <div *ngIf="f.director_contact_no.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="director_email_id">Director Email Id</label>
                <input type="text" formControlName="director_email_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.director_email_id.errors }" />
                <div *ngIf="submitted && f.director_email_id.errors" class="invalid-feedback">
                    <div *ngIf="f.director_email_id.errors.required">Director Email is required</div>
                    <div *ngIf="f.director_email_id.errors.pattern">Please enter valid email</div >
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
                <span class="error-msg">{{errorMsg}}</span>
            </div>
        </form>
    </div>
</div>
</div>
