.questionnairebody {
    padding: 75px 50px 20px 50px;
    .questionbody{
        font-weight: 700;
        color: #007bff;
    }
    .id {
        margin-right: 10px;
    }
    .greenText{
        color: green;
    }
    .redText {
        color: red;
    }
}

.logout {
    float: right;
    margin: 15px 50px;
}

.prev-next {
    float: right;
    margin: 20px 50px;
    .previous {
        margin-right: 15px;
    }
    .previous:disabled, .next:disabled {
        pointer-events: none;
    }
}

.grid-section {
    padding: 0 50px;
}

.input-file {
    display: none;
}

.questionnaire-btn {
    .upload-btn {
        margin: 20px 50px;
    }
}

ul {
    padding: 0 0 0 70px;
    .delete-btn {
        margin-left: 10px;
        cursor: pointer;
    }
}

.error-text {
    color: red;
    margin-right: 10px;
}

textarea {
    padding: 10px;
}