.add-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.clear-btn {
    margin-right: 10px;
}

.table-heading {
    text-align: center;
    border: 1px solid;
    font-weight: bold;
    background: white;
}

.second-table {
    margin-top: 20px;
}