<div class="back-drop" *ngIf="isSpinner">
    <div class="loader"></div>
</div>
<div class="row">
    <div class="col-2">
        <img src="../../assets/img/bvp_logo.png" width="200" height="120">
    </div>
    <div class="col-10 header-main">
        <span class="ml-5">GREETINGS FROM BHARTI VIDYAPEETH DEEMED TO BE UNIVERSITY!</span>
    </div>
</div>

<div class="row lower-section">
    <div class="col-md-5">
        <div class="left-section-dev pl-5">
            <div><h4>Welcome to data and documentation for
                AQAR criteria-III Research, Innovations and Extension.</h4></div>
            <div><br>
                <h5>(Create the login ID with password for all coordinators and administrator)</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 ml-5">
        <div class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email_id">Username</label>
                        <input type="text" formControlName="email_id" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email_id.errors }" />
                        <div *ngIf="submitted && f.email_id.errors" class="invalid-feedback">
                            <div *ngIf="f.email_id.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                        <a routerLink="../registration" class="btn btn-link">Register</a>
                        <span class="error-msg">{{errorMsg}}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>